@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans&display=swap');

:root {
  --font-base: "Open Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e2dbd5;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --dark-gray: #202020;
  --light-gray: #404040;
  --orange-color: #fc710e;
}

* {
  font-family: var(--font-base);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}